@dir: "../../assets/fonts/";

@font-face {
  font-family: 'Asap';
  src: url("@{dir}Asap-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Oswald';
  src: url("@{dir}Oswald-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Roboto Mono';
  src: url("@{dir}RobotoMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Titillium Web';
  src: url("@{dir}TitilliumWeb-Regular.ttf") format("truetype");
}