@import "colours";

// tablet
@media only screen and (max-width: 1024px) {

  nav {
    img {
      width: 3%;
      padding: 1.25% 1.25% 1.25% 3%;
    }
  }

  .section {
    h1 {
      font-size: 4em;
    }
  }
}


// mobile
@media only screen and (max-width: 600px) {

  .hide-mobile {
    display: none;
  }

  nav {
    padding: 1%;
    align-items: center;

    ul {
      width: 80%;
      justify-content: flex-end;
      text-align: right;
      flex-direction: column;

      li {
        display: none;
        font-size: 1.25em;
        margin-right: 0;
        padding: 5% 2%;
      }
    }

    .dropdown-btn {
      font-size: 1.25em;
      display: block;
      padding: 1% 1% 1% 5%;

      a {
        text-align: right;
      }
    }

    img {
      width: 12%;
    }

    .active {
      display: block;
    }

  }

  .section {
    h1 {
      font-size: 1.8em;
    }

    h2 {
      font-size: 1em;
    }

    p {
      font-size: 0.9em;
    }
  }

  footer {
    p {
      font-size: 0.9em;
    }
  }
}