@font-face {
  font-family: 'Asap';
  src: url("../../assets/fonts/Asap-Regular.ttf") format("truetype");
  /* url("@{dir}Asap-Regular.eot") format("embedded-opentype"),
  url("@{dir}Asap-Regular.wof") format("woff");*/
}
@font-face {
  font-family: 'Oswald';
  src: url("../../assets/fonts/Oswald-Regular.ttf") format("truetype");
  /* url("@{dir}Oswald-Regular.eot") format("embedded-opentype"),
  url("@{dir}Oswald-Regular.wof") format("woff");*/
}
@font-face {
  font-family: 'Roboto Mono';
  src: url("../../assets/fonts/RobotoMono-Regular.ttf") format("truetype");
  /* url("@{dir}RobotoMono-Regular.eot") format("embedded-opentype"),
  url("@{dir}RobotoMono-Regular.wof") format("woff");*/
}
@font-face {
  font-family: 'Titillium Web';
  src: url("../../assets/fonts/TitilliumWeb-Regular.ttf") format("truetype");
  /* url("@{dir}TitilliumWeb-Regular.eot") format("embedded-opentype"),
  url("@{dir}TitilliumWeb-Regular.wof") format("woff");*/
}
@media only screen and (max-width: 1024px) {
  nav img {
    width: 10%;
    padding: 1.25% 1.25% 1.25% 3%;
  }
  .wrapper h1 {
    font-size: 4em;
  }
}
@media only screen and (max-width: 600px) {
  .hide-mobile {
    display: none;
  }
  nav {
    padding: 1%;
    align-items: center;
  }
  nav img {
    width: 30%;
  }
  nav .active {
    display: block;
  }
  .wrapper h1 {
    font-size: 1.8em;
  }
  .wrapper h2 {
    font-size: 1em;
  }
  .wrapper p {
    font-size: 0.9em;
  }
  #l-panel p,
  #r-panel p {
    font-size: 4em;
  }
  .spacer {
    width: 20%;
  }
  footer p {
    font-size: 0.9em;
  }
}
