@font-face {
  font-family: 'Asap';
  src: url("../../assets/fonts/Asap-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Oswald';
  src: url("../../assets/fonts/Oswald-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Roboto Mono';
  src: url("../../assets/fonts/RobotoMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Titillium Web';
  src: url("../../assets/fonts/TitilliumWeb-Regular.ttf") format("truetype");
}
:root {
  font-family: sans-serif;
  font-size: 1em;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}
.hide-mobile {
  display: inline-block;
}
h1 {
  font-family: Asap, sans-serif;
  font-size: 1.8em;
  padding: 0.25%;
}
h2 {
  font-family: Titillium Web, sans-serif;
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #a6a6a6;
  -webkit-transition: color 0.5s linear;
  -moz-transition: color 0.5s linear;
  -o-transition: color 0.5s linear;
  transition: color 0.5s linear;
}
nav {
  color: #FFFFFF;
  background: #1F1F27;
  font-family: Oswald, sans-serif;
  display: flex;
  align-items: center;
  position: fixed;
  padding: 0.5%;
  width: 100vw;
}
nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding-right: 2%;
}
nav ul li {
  padding: 2%;
  margin-right: 50%;
}
nav ul li a {
  text-align: center;
}
nav .dropdown-btn {
  display: none;
}
nav img {
  width: 1.5%;
  padding: 0.5%;
  transform: scale(1);
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
}
nav img:hover {
  cursor: pointer;
  transform: scale(1.25);
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
}
.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
}
.section h1 {
  font-size: 7em;
  color: #FFFFFF;
  padding: 0;
}
.section h2 {
  font-style: italic;
  color: #FFFFFF;
}
.section p {
  font-family: Titillium Web, sans-serif;
  font-size: 1.25em;
  color: #FFFFFF;
}
.section .p-light {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
}
#top {
  background-image: url("../../assets/img/background.png");
  background-size: cover;
}
footer {
  width: 100vw;
  right: 0;
  left: 0;
  bottom: 0;
  color: #FFFFFF;
  background-color: #1F1F27;
  font-family: Titillium Web, sans-serif;
  font-size: 0.8em;
  text-align: center;
  padding: 0.5%;
}
@media only screen and (max-width: 1024px) {
  nav img {
    width: 3%;
    padding: 1.25% 1.25% 1.25% 3%;
  }
  .section h1 {
    font-size: 4em;
  }
}
@media only screen and (max-width: 600px) {
  .hide-mobile {
    display: none;
  }
  nav {
    padding: 1%;
    align-items: center;
  }
  nav ul {
    width: 80%;
    justify-content: flex-end;
    text-align: right;
    flex-direction: column;
  }
  nav ul li {
    display: none;
    font-size: 1.25em;
    margin-right: 0;
    padding: 5% 2%;
  }
  nav .dropdown-btn {
    font-size: 1.25em;
    display: block;
    padding: 1% 1% 1% 5%;
  }
  nav .dropdown-btn a {
    text-align: right;
  }
  nav img {
    width: 12%;
  }
  nav .active {
    display: block;
  }
  .section h1 {
    font-size: 1.8em;
  }
  .section h2 {
    font-size: 1em;
  }
  .section p {
    font-size: 0.9em;
  }
  footer p {
    font-size: 0.9em;
  }
}
/*# sourceMappingURL=mobile.css.map */